{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
        rel="icon"
        type="image/png"
        href="{{ MEDIA_URL }}Grass_Block_JE7_BE6.jpg"
        sizes="16x16"
        />
    {% endblock %}
    
    {% block extra_meta %}
    {% endblock %}
    
    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
    <!-- Font Awesome kit -->
    <script
      src="https://kit.fontawesome.com/271e034d25.js"
      crossorigin="anonymous">
    </script>
    <!-- Bootstrap JS with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous">
    </script>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    
    <title>WheelerDealer | HOME</title>
  </head>
  <body>
    <header class="container-fluid fixed-top top-menu-container">
      {% include 'includes/top-nav.html' %}
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
    
    {% block postloadjs %}
    {% endblock %}
  </body>
</html>
